* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

button {
  cursor: pointer;
}

.container {
  background-color: rgb(252, 252, 252);
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}

.justify-space-bwn {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}