.input-label{
  position: relative;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;

  input {
    display: block;
    width: 100%;
    padding-bottom: 0.75rem;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1.1rem;
  }

  :focus {
    outline: none;
  }

  > label {
    position: absolute;
    left: 0;
    top: 0;
    color: #127daf;
    transition: all .3s ease-in-out;
    cursor: text;
  }

  :placeholder-shown + label {
    color: transparent;
    left: 10px;
    top: 10px;
  }
}